[Unit]
Description=Escrow Gigs Bot
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/escrow-gigs-bot/escrow-gigs-bot
ExecStart=/home/ubuntu/escrow-gigs-bot/escrow-gigs-bot/venv/bin/uvicorn app.app:fastapi_app --host 0.0.0.0 --port 8000
ExecStop=/bin/kill -s TERM $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target